/* reset */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* generale */
body{
    background-color: black;
}
#green{
    color: green;
}

/* header */

header{
    height: 40px;
    text-align: right;
}
header button{
    background-color:grey;
    color: white;
    border-radius: 4px;
    padding: 2px;
    border: none;
}


/* main */

main{
    height: calc(100vh - 140px);
}
/* footer */
footer{
    height: 100px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    color: white;
}
footer > div > *{
    height:100%
}
footer button {
    border: none;
    color: white;
    background-color: transparent;
    padding: 5px;
}
footer button > div{
    margin-top: 15px;
   
}
#end{
    color: red;
    background-color: grey;
    padding: 20px;
}
/* debug */
/* .debug header{
    background-color: aquamarine;
} */

.debug main{
    background-color: red;
}
/* .debug footer{
    background-color: blue;
} */